APP_NAME="Baiyi Mall"
APP_ENV=local
APP_KEY=base64:DcwMPa6esZVGio4Y6TvqmDkcrCSOUjPxFoF1uE3jV78=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://baiyi-mall.test
SECURE=false

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=baiyi-mall
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

API_STANDARDS_TREE=vnd
API_PREFIX=api
API_VERSION=v1
API_DEBUG=true

PAY_DEBUG=true

WECHAT_PAYMENT_MINIAPP_ID=
WECHAT_PAYMENT_MCH_ID=
WECHAT_PAYMENT_KEY=

WECHAT_MINI_PROGRAM_APPID=wx92911ffc65d7b5fd
WECHAT_MINI_PROGRAM_SECRET=a5a740d742ca315afccdaa0f2616991a

# qiniu
QINIU_ACCESS_KEY=2ALHswyOEl_pdJuOwQvdN8gFGIYM6uyCGMOrS3tg
QINIU_SECRET_KEY=idUjR3xHaVD8XT5mJD3wahYtzcIytsGRNkuJLalE
QINIU_BUCKET=baiyi-shop
QINIU_DOMAIN=http://cdn.foridom.com

# sms config
YUNPIAN_API_KEY=