/node_modules
/public/hot
/public/storage
/public/laravel-u-editor
/public/fonts
/public/font
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/uploads
public/vendor
public/assets/backend
resources/views/vendor
resources/lang
/github
.DS_Store
